html, body {
  height: 100%;
  margin: 0;
}

.choices > * {
  box-sizing: border-box;
}

.disableThisAltInputFirst {
  /* border: solid red 1px; */
  border: 1px solid #ced4da;
  background-color: #e9ecef;
  padding: .375rem .75rem;
  border-radius: .25rem;
  max-width: 100%;
}

.leaflet-container {
  height: 400px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
}

.custom-button {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  /* padding: 5px 10px; */
  cursor: pointer;
}

.full-width-row {
  color: red;
  /* height: 150px !important; */
  border: solid red 1px;
}