html, body {
  height: 100%;
  margin: 0;
}

.choices > * {
  box-sizing: border-box;
}

.disableThisAltInputFirst {
  /* border: solid red 1px; */
  border: 1px solid #ced4da;
  background-color: #e9ecef;
  padding: .375rem .75rem;
  border-radius: .25rem;
  max-width: 100%;
}

.leaflet-container {
  height: 400px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
}

.custom-button {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  /* padding: 5px 10px; */
  cursor: pointer;
}

#sellerMediaManagementContent {
  /* margin-top: 15px; */
  /*border: solid red 1px;*/
  text-align: center;
}

#sellerMediaManagementContent media {
  display: inline-block;
  margin: 2.5%;
  border: solid grey 1px;
  border-radius: 5px;
  max-width: 45%;
}

#sellerMediaManagementContent media img {
  border: solid transparent 1px;
  border-radius: 5px;
}

#sellerMediaManagementContent media video {
  border: solid transparent 1px;
  width: 100%;
  border-radius: 5px;
}