html, body {
  height: 100%;
  margin: 0;
}

ion-backdrop {
  background: white;
  opacity: 0.3;
}

#fs-backdrop-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-background-color, #fff);
  width: 90%;
  height: 100px;
  border-radius: 10px;
}

.choices > * {
  box-sizing: border-box;
}

.disableThisAltInputFirst {
  /* border: solid red 1px; */
  border: 1px solid #ced4da;
  background-color: #e9ecef;
  padding: .375rem .75rem;
  border-radius: .25rem;
  max-width: 100%;
}

.leaflet-container {
  height: 400px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
}

.custom-button {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  /* padding: 5px 10px; */
  cursor: pointer;
}

.full-width-row {
  color: red;
  /* height: 150px !important; */
  border: solid red 1px;
}

#publicationsList {
  /* border: solid red 1px; */
  background-color: #C1C3CB;
}

#publicationsList ion-card {
  margin: 5px 0;
}

.fsMediasList {
  display: grid;

  /* define the number of grid columns */
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

#publicationsList ion-card ion-card-content media {
  /*display: inline-flex;*/
  margin: 1%;
  /*vertical-align: top;*/
  border: solid grey 1px;
  /* border-radius: 5px; */
  max-width: 100%;
}

#publicationsList ion-card ion-card-content media video,
#publicationsList ion-card ion-card-content media img 
{
  /* border: solid transparent 1px; */
  width: 100%;
  /* border-radius: 5px; */
}

#publicationsList .fsPublicationMoreOptions {
  position: absolute;
  right: 0;
}

#publicationsList .publication-card-more-medias {
  font-weight: bold;
  position: absolute;
  display: block;
  border: solid red 1px;
}

.fsUsersInterations {
  border-top: solid grey 1px;
}
